$black: black;
$white: white;
$grey: #2e3436;
$salmon:#cc0000;
$green:#4e9a06;
$gold:#c4a000;
$cyan:#3465a4;
$pinkish:#75507b;
$shitBlue:#06989a;
$niceGrey:#d3d7cf;
$darkGrey:#555753;
$anotherSalmon:#ef2929;
$niceGreen:#8ae234;
$yellow:#fce94f;
$cyan2:#729fcf;

*{
    font-family:monospace;
}
body{
    margin:0px;
    background-color:black;
}
#browser {
    -webkit-app-region: drag;
    width: 20%;
    float: left;
    height: 100vh;
    background-color: $cyan;
    .spin
    {
        color:$white;
        margin:20px;
        font-size:40px;
        -webkit-animation: spin 1s infinite linear;
    }
    .item
    {
        padding-left:10px;
        color: $white;
        padding:10px 0px;
        background-color: $cyan;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-transition-duration:0.1s;
        cursor:pointer;
        i{
            padding-left:10px;
        }
        span{
            bottom: 6px;
            font-size: 12px;
            position: relative;
        }
        &:hover{
            background-color:$cyan2;
        }
        &:active{
            background-color:$darkGrey;
        }
    }
}
.gritty{
    height:100%;
    .terminal{
        height:100vh;
    }
}
#footer
{
    color:$black;
    position:fixed;
    bottom:-230;
    width:100%;
    height:250px;
    background-color:$niceGrey;
    -webkit-transition-duration:0.1s;
    cursor:pointer;
    &:hover {
        background-color:$niceGrey + #ccc;
    }
    &:active {
        background-color:$darkGrey;
    }
    center{
        // border-bottom:$darkGrey 1px solid;
        i{
            -webkit-transition-duration: 0.2s;
        }
    }
    .container
    {
        width:200px;
    }
}

iframe{
    margin-left:20%;
    width:80%;
    height:96vh;
    display:block;
    oveflow:hidden;
}
@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
